@using Route.C41.G03.DAL.Models
@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Add New Employee</h1>

<br />
<br />

<form asp-action="Create">
    <div class="form-group">
        <label class="col-form-label" asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Age">Age</label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Salary">Salary</label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="IsActive">Is Active</label>
        <input asp-for="IsActive" class="form-control" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="HireDate">Hire Date</label>
        <input asp-for="HireDate" class="form-control" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ValidationScriptSection {
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}