@using Route.C41.G03.DAL.Models
@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to delete @Model.Name Department ? </h1>
<div asp-validation-summary="All"></div>

<form asp-action="Delete">
    <partial name="PartialViews/DetailsDeletePV" />
    <input type="submit" value="Delete" asp-action="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>