@using Route.C41.G03.DAL.Models
@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Department</h1>

<diV asp-validation-summary="All"></diV>
<form asp-action="Edit">
    <partial name="PartialViews/CreateEditPV" />
    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}